################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/
bin/
node_modules/
.tmp/
dist/
UpdateVisual/webpack.statistics.dev.html
